{% extends "layout.html" %}
{% block content %}
<br>
<br>
<div class="jumbotron" style="color: black;">
    <h1 class="display-4">Hello there!</h1>
        <p  class="lead">This is where you can summarize a book, an article, a txt file or a text depending on your choice.<br>
        You can choose from the books that is available in <a href="https://www.gutenberg.org/" style="color: gray;">Project Gutenberg.</a></p>
    <hr class="my-4">
        <p>Project Gutenberg is a library of over 60,000 free eBooks. <br>
        Want to start summarizing?  Click on the button to start! :)</p>
        <p class="lead">
            <button  onclick="location.href='/summarize'" type="button" class="btn btn-secondary btn-lg">Let's Go!</button>
            </p>
        </div>
    </div>
</div>
<br>

{% endblock content %}