{% extends "layout.html" %}
{% block content %}
<br>
<h1></h1>
{% if summary != "" %}

<div class="card" style="background-color: transparent;">
    <div class="card-body">
        <div id="summaryContainer" class="justify-content-center">
            <h2>Summary</h2>
            <br>
            <h6 name="summary">{{summary}}</h6>
        </div>
        <br>
        <a href="{{url_for('save_file')}}" download>
        <button type="button" class="btn btn-secondary btn-sm">Save as file</button> 
        </a>
</div>
</div>

{% endif %}
{% endblock content %}