{% extends "layout.html" %}
{% block content %}
<div class="card" style="background: transparent; padding: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card-body" style="margin-left: 20px; margin-right: 20px; ">

        <div class="bs-example">
            <!-- NAVIGATION TABS -->
            <ul class="nav nav-tabs" >
                <li class="nav-item">
                    <a href="#book" style="color: gray;" class="nav-link active" data-toggle="tab">Book</a>
                </li>
                <li class="nav-item">
                    <a href="#upload" style="color: gray;" class="nav-link" data-toggle="tab">Upload</a>
                </li>
                <li class="nav-item">
                    <a href="#text" style="color: gray;" class="nav-link" data-toggle="tab">Text</a>
                </li>
                <li class="nav-item">
                    <a href="#article" style="color: gray;" class="nav-link" data-toggle="tab">Article</a>
                </li>
                <li class="nav-item">
                    <a href="#question"  style="color: gray;" class="nav-link" data-toggle="tab">Question</a>
                </li>
            </ul>
            <!-- NAVIGATION TAB CONTENT -->
            <div class="tab-content">

                <!-- SEARCH BOOK TAB -->
                <div class="tab-pane fade show active" id="book">
                    <br>
                    <div class="card" style="background-color: transparent;">
                        <div class="card-body">
                            <form action="" method="POST" enctype="multipart/form-data" class="form-inline"> 
                                <div class="form-group mb-2"  >
                                    <label for="exampleFormControlTextarea1">Search for the book:</label>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    {% if search_book != "" %}
                                    <input name="book" class="form-control" type="text" placeholder={{ search_book }}>
                                    {% else %}
                                    <input name="book" class="form-control" type="text" placeholder="Book name here ...">
                                    {% endif %}
                                    
                                </div>
                                <div class="form-group mb-2">                          
                                    <button type="submit" class="btn btn-secondary">Search</button>
                                </div>
                            </form>  
                            <br>  

                            <!-- SEARCH RESULTS TABLE -->
                            {% if tables != "" %}
                                <table class="table table-hover table-dark">
                                    <thead>
                                        <tr>
                                            {% for col in column_names %}
                                            <th scope="col">{{col}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in row_data %}
                                        <tr>
                                            {% for col, row_ in zip(column_names, row) %}
                                            {% if col == link_column %}
                                                <td> 
                                                    <a href={{ row_ }} style="color: rgb(190, 182, 182);"> {{ row_ }}</a>
                                                </td>
                                            {% elif col == summ_column %}
                                                <td>                                                                           
                                                    <form action="" method="POST" enctype="multipart/form-data">
                                                        <button type="submit" value={{ row_ }} name="book_name" class="btn btn-light btn-sm">
                                                            Summarize
                                                        </button>
                                                    </form>
                                                </td>
                                            {% else %}
                                                <td>{{row_}}</td>
                                            {% endif %}
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>             
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- UPLOAD FILE TAB -->
                <div class="tab-pane fade" id="upload">
                    <br>
                    <h4 class="mt-2">Summarize from a Txt File</h4>
                    <br>
                    <div class="col d-flex justify-content-center">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">Choose the text file: </label>
                                <input name="file" class="form-control form-control-sm" id="formFileSm" type="file" style="
                                          border: 1px solid whitesmoke;
                                          height: 34px;
                                          background-color: transparent;">
                                <p style="font-size: smaller;">This currently only supports a *.txt file.</p>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-secondary">Summarize</button>
                        </form>
                    </div>
                </div>

                <!-- SUMMARIZE A TEXT TAB -->
                <div class="tab-pane fade" id="text">
                    <br>
                    <h4 class="mt-2">Summarize a Text</h4>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Enter the text you want to summarize:</label>
                            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Summarize</button>
                    </form>
                </div>

                <!-- ARTICLE LINK TAB -->
                <div class="tab-pane fade" id="article">
                    <br>
                    <h4 class="mt-2">Summarize an Article</h4>
                    <br>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Enter the link of the article:</label>
                            <input name="article" class="form-control" type="text" placeholder="Article link">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Summarize</button>
                    </form>
                </div>

                <!-- QUESTION TAB -->
                <div class="tab-pane fade" id="question">
                    <br>
                    <h4 class="mt-2">Ask a Question</h4>
                    <form action=""  enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Please enter your content here:</label>
                            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                            <br>
                            <label for="exampleFormControlTextarea1">Please enter your question:</label>
                            <input name="article" class="form-control" type="text" placeholder="Your question here...">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-secondary">Ask!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}